pre {
/*    border:1px solid #CCCCCC;*/
    background:#F2F0EE;
    -webkit-border-radius:11px;
    -moz-border-radius:11px;
    border-radius:11px;
    display:block;
    line-height:110%;
    margin:1.5em 0px 3em 0px;
    padding:15px 20px;
    white-space:pre-wrap;
}
pre code {
  background:none;
	border:none;
	font-size:11px;
	padding:0px;
}

ul{
    margin-left: 40px;
}

#subheader{
    position: fixed;
    top: 91px;
    left: 0;
    right: 0;
    z-index:9;
    height: 57px;
}

#subheader.grid {
    padding: 4px 0;
}
.header-placeholder{
    height: 155px;
}

.grid .wrap h1{
    background: white;
    display: inline;
    padding: 4px 8px;
}

#scrollable{
    z-index: 0;
}

#apiFunctionNav h1{
    position: absolute;
    left: 36px;
    height: 36px;
    padding: 0 8px 0 8px;
}

#apiFunctionNav span{
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(images/sprite.png) no-repeat;
    background-position: -156px -95px;
    background-color: #4CC2E4;
}

